.design-canvas {
	display: inline-block;
	vertical-align: top;
	min-width: 630px;
	height: 600px;
	background: white;
	position: relative;
	text-align: center;
}

.user-designs {
	display: inline-block;
	border-right: 3px solid #607D8B;
	border-left: 3px solid #607D8B;
	border-bottom: 3px solid #607D8B;
	margin-right: 15px;
	border-radius: 2px;
	.user-designs-header {
		background-color: #607D8B;
		color: #ffffff;
		font-weight: $bold;
		padding: 7px 15px;
		text-align: center;
		margin: 0 -15px;
	}
	// .user-designs-content {
	// 	max-height: 600px;
	// 	overflow: auto;
	// 	&::-webkit-scrollbar {
	// 		width: 5px;
	// 	}
	// 	&::-webkit-scrollbar-track {
	// 		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	// 	}
	// 	&::-webkit-scrollbar-thumb {
	// 		background-color: darkgrey;
	// 		outline: 1px solid slategrey;
	// 	}
	// }
}

.user-design {
	margin: 15px auto;
	background-color: rgba(96, 125, 139, 0.67);
	cursor: pointer;
	position: relative;
	&:hover {
		background-color: #607D8B;
	}
	img {
		width: 100%;
	}
}

.design-image-overlay {
	position: absolute;
	top: 0;
	left: 0;
}

.shirt-canvas {
	position: absolute;
	min-width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.canvas-container {
	margin: 0 auto;
}

.design-options {
	margin-left: 15px;
	border-right: 3px solid #607D8B;
	border-left: 3px solid #607D8B;
	border-bottom: 3px solid #607D8B;
	border-radius: 2px;
	.design-options-header {
		background-color: #607D8B;
		color: #ffffff;
		font-weight: $bold;
		padding: 7px 15px;
		text-align: center;
		margin: 0 -15px;
	}
}

.design-editor-header {
	background-color: #607D8B;
	color: #ffffff;
	font-weight: $bold;
	padding: 15px;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.design-editor-body {
	top: 65px;
	position: relative;
}

.editor-actions {
	margin: 15px 0;
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li {
			text-align: center;
			cursor: pointer;
			p {
				font-size: 10px;
				margin: 0;
				margin-top: -5px;
			}
		}
	}
}

.add-options {
	margin: 15px 0;
}

.add-image, .upload-image, .add-text {
	text-align: center;
	cursor: pointer;
	@include css3-prefix('transition', 'all 0.25s ease-out');
	border-radius: 2px;
	p {
		font-size: 10px;
		margin: 0;
		margin-top: -5px;
	}
}

.add-image {
	color: #757575;
	&:hover {
		background-color: #757575;
		color: #ffffff;
	}
}

.upload-image {
	color: #293cc1;
	&:hover {
		background-color: #293cc1;
		color: #ffffff;
	}
}

.add-text {
	color: #757575;
	&:hover {
		background-color: #757575;
		color: #ffffff;
	}
}

.new-design {
	color: #83B114;
	@include css3-prefix('transition', 'all 0.25s ease-out');
	border-radius: 2px;
	&:hover {
		background-color: #83B114;
		color: #ffffff;
	}
}

.save-design {
	color: #13aec7;
	@include css3-prefix('transition', 'all 0.25s ease-out');
	border-radius: 2px;
	&:hover {
		background-color: #13aec7;
		color: #ffffff;
	}
}

.last-step {
	color: #0fcca9;
	@include css3-prefix('transition', 'all 0.25s ease-out');
	border-radius: 2px;
	&:hover {
		background-color: #0fcca9;
		color: #ffffff;
	}
}

.next-step {
	color: #e8bb15;
	@include css3-prefix('transition', 'all 0.25s ease-out');
	border-radius: 2px;
	&:hover {
		background-color: #e8bb15;
		color: #ffffff;
	}
}